* {
    box-sizing: border-box;
    font-size: 0px;
}

#line1 {
    background-color: #F5C6D6;
    width: 100%;
    height: 185px;
    display: inline-block;
    border: 10px solid white;
    transition-timing-function: ease;
}

.line2 {
    background-color: #EE2E84;
    width: 25%;
    height: 185px;
    display: inline-block;
    border: 10px solid white;
}

#line1:hover {
    cursor: -webkit-grab;
    border: 1px solid black;
    box-shadow: 10px 10px 5px #999;
    
}

#line1:active {
    cursor: -webkit-grabbing;
    width: 0;
    height: 0;
    position: absolute;
    right: 50%;
    border: 1px solid black;
    border-radius: 100%;
    box-shadow: 10px 10px 5px #999;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

.line3 {
    background-color: #85CFD8;
    width: 50%;
    height: 185px;
    display: inline-block;
    border: 10px solid white;     
}

#line4-box1 {
    background-color: #8DC63F;
    width: 75%;
    height: 185px;
    display: inline-block;
    border: 10px solid white;
}

#line4-box2 {
    background-color: #E76E34;
    width: 25%;
    height: 185px;
    display: inline-block;
    border: 10px solid white;       
}

@media (max-width: 768px) {
    .line2 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .line3 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #line4-box1 {
        width: 100%
    }
}

@media (max-width: 768px) {
    #line4-box2 {
        width: 100%
    }
}

